<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>書籍レビュー一覧画面（の予定）</title>
</head>
<body>
  <div class="mt-3">
    <div class="flex justify-center">
      <form class="w-2/3">
        <label>書籍名（部分一致）：</label>
        <input type="text" name="book_name" class="border rounded border-black w-1/3 py-1 px-2" />
        <button class="ml-3 px-2 py-1 border rounded border-black bg-blue-300">検索</button>
      </form>
      <div class="w-1/3 text-right">
        <button class="mr-3 px-2 py-1 border rounded border-black bg-green-300" id="btn-register">新規登録</button>
      </div>
    </div>
    <hr class="mt-5 py-5 w-full border-bottom border-black"></hr>
    <div>
      <th:block th:if="${#lists.isEmpty(books)}">
        <div class="text-center">データがありません。</div>
      </th:block>
      <th:block th:if="${!#lists.isEmpty(books)}">
        <table>
          <thead>
            <tr>
              <th>投稿者</th>
              <th>本のタイトル</th>
              <th>評価(S～E)</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="book : ${books}">
              <tr>
                <td>${book.reviewerName}</td>
                <td>${book.bookName}</td>
                <td>${book.evaluation}</td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </th:block>
    </div>
  </div>
  <script>
    $('#btn-register').click(function() {
      console.log('btn押された！');
      location.href = '/register';
    });
  </script>
</body>
</html>