<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>会員退会確認 - サンプルサイトにようこそ</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{/js/mypage.js}" charset="utf-8"></script>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
</head>
<body>
	<header>
		<div class="head_title">
			<h1>Spring Web Sample</h1>
		</div>
	</header>
	<main>
		<div class="content-header">
			<h2>マイページ</h2>
		</div>
		<div class="wrapper">
			<div class="content box-parent">
				<div>
					<div>
						<span>以下の会員情報を削除し、退会処理を行います。よろしければ「退会」ボタンを押してください</span>
					</div>
					<form th:action="@{/memberdelcomplete}" th:object="${myPageForm}" method="post">
						<div class="user-data-box">
							<ul>
								<li><label class="inputlabel">ユーザーID(メールアドレス):</label><span th:text="*{userEmail}"></span></li>
								<li><label class="inputlabel">氏名:</label><span th:text="*{userName}"></span></li>
								<li><label class="inputlabel">氏名(カナ):</label><span th:text="*{userNameKana}"></span></li>
								<li><label class="inputlabel">郵便番号:</label><span th:text="*{zip}"></span></li>
								<li><label class="inputlabel">都道府県:</label><span th:text="*{todofuken}"></span></li>
								<li><label class="inputlabel">市区郡:</label><span th:text="*{shikugun}"></span></li>
								<li><label class="inputlabel">以降の住所:</label><span th:text="*{address2}"></span></li>
								<li><label class="inputlabel">電話番号:</label><span th:text="*{tel}"></span></li>
							</ul>
						</div>
						<div class="button-area content-center">
							<button id="goBackMypagebtn" type="button" class="btn btn-color-normal">戻る</button>
							<input type="submit" id="confirmSubmit" class="btn btn-color-normal" value="退会" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>