<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>新規会員登録 確認 - サンプルサイトにようこそ</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{/js/regist.js}" charset="utf-8"></script>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
</head>
<body>
	<header>
		<div class="head_title">
			<h1>Spring Web Sample</h1>
		</div>
	</header>
	<main>
		<div class="content-header">
			<h2>新規会員登録 確認</h2>
			<span>入力内容にお間違いはありませんか？問題無ければ「登録」ボタンを押してください</span>
		</div>
		<div class="wrapper">
			<div class="content">
				<form action="/registcomplete" th:action="@{/registcomplete}" th:object="${registForm}" method="post">
					<div th:if="${#fields.hasAnyErrors()}" class="form-error">
						<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
					</div>
					<ul>
						<li class="input-box">
							<label class="inputlabel">会員ID(メールアドレス):</label>
							<span th:text="*{userMail}"></span>
							<input type="hidden" th:field="*{userMail}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">パスワード:</label>
							<span th:text="${pwdMask}"></span>
							<input type="hidden" th:field="*{pwd}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">氏名:</label>
							<span th:text="*{name}"></span>
							<input type="hidden" th:field="*{name}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">氏名(カナ):</label>
							<span th:text="*{kana}"></span>
							<input type="hidden" th:field="*{kana}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">電話番号:</label>
							<span th:text="*{tel}"></span>
							<input type="hidden" th:field="*{tel}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">郵便番号:</label>
							〒<span th:text="*{zip}"></span>
							<input type="hidden" th:field="*{zip}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">都道府県:</label>
							<span th:text="*{todofuken}"></span>
							<input type="hidden" th:field="*{todofuken}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">市区郡:</label>
							<span th:text="*{shikugun}"></span>
							<input type="hidden" th:field="*{shikugun}" />
						</li>
						<li class="input-box">
							<label class="inputlabel">以降の住所:</label>
							<span th:text="*{address}"></span>
							<input type="hidden" th:field="*{address}" />
						</li>
					</ul>
					<input type="submit" id="confirmSubmit" class="btn btn-color-normal" value="登録" />
				</form>
			</div>
		</div>
	</main>
</body>
</html>